@model HoiDongYVN.Models.ViewModel.PostModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <div class="album py-5 bg-light" style="background-color: #ffffff!important;">
        <div class="container-fluid">
            <div class="post">

                <div class="list-content" style="display: flex !important;">
                    <div class="col-9" style="max-width: 75%;">
                        <div width="100%" class="post-title"> @Model.STitle</div>
                        <div class="post-date" style="float:right">@Model.SDate</div>
                        <div class="post-description">@Model.SDescription</div>
                        <div class="card-text"> @Html.Raw(@Model.SContent)</div>
                    </div>
                    <div class="col-3" style="max-width: 25%;">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                Tin tức nổi bật
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
