@model IEnumerable<HoiDongYVN.Models.Tag>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách danh mục</h1>
<div>
    <a class="btn btn-sm"  role="dialog" id="openModalCreateButton" data-toggle="modal" data-target="#CreateTagModal" aria-haspopup="true" aria-expanded="false" style="color: #fff;background-color: #6A1408;border-color: #6A1408;">Tạo danh mục</a>

    <table class="table" id="tblTag">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.STagname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var dem = 1;
            }
            @foreach (var item in Model)
            {
                <tr id="row-@item.PkITagId">
                    <td>
                        @dem
                    </td>
                    <td id="TagName_@item.PkITagId">
                        @Html.DisplayFor(modelItem => item.STagname)
                    </td>
                   @* @if (item.IStatus == 1)
                    {
                        <td>
                            Hoạt động
                        </td>
                    }
                    else
                    {
                        <td>
                            Khóa
                        </td>
                    }*@
                    @* <td>
                @Html.DisplayFor(modelItem => item.IStatus)
                </td>*@
@*                    <td>
                        <a role="dialog" id="openModalEditButton" data-toggle="modal" data-target="#EditTagModal" aria-haspopup="true" aria-expanded="false" onclick="Edit(@item.PkITagId)"><i class="fa fa-edit"></i></a> |
                        <a role="dialog" id="openModalEditButton" data-toggle="modal" data-target="#DeleteTagModal" aria-haspopup="true" aria-expanded="false" onclick="Edit(@item.PkITagId)"><i class="fa fa-times"></i></a>
                    </td>*@
                    <td>
                        <a role="dialog" id="openModalEditButton" data-toggle="modal" data-target="#EditTagModal" aria-haspopup="true" aria-expanded="false" onclick="getTagById(@item.PkITagId)"><i class="fa fa-edit"></i></a> |
                        <a role="dialog" id="openModalDeleteButton" data-toggle="modal" data-target="#DeleteTagModal" aria-haspopup="true" aria-expanded="false" onclick="getTagById(@item.PkITagId)"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                dem++;
            }
        </tbody>
    </table>
    <div class="dropdown show">
        @* Hiện modal create Tag *@
        <div class="modal fade" id="CreateTagModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="color: #fff;background-color: #6A1408;">
                        <h5 class="modal-title" id="myModalLabel" >Tạo danh mục</h5>
                        <button type="button" class="close" id="btnCloseModal1" data-dismiss="modal" aria-label="Close" style="color:#fff">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*<form asp-action="Create">*@
                           <form >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Tên danh mục</label>
                                <input name="Tagname" id="Tagname" class="form-control" />
                                <span id="error" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Create" onclick="createTag()" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown show">
        @* Hiện modal edit Tag *@
        <div class="modal fade" id="EditTagModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="color: #fff;background-color: #6A1408;">
                        <h5 class="modal-title" id="myModalLabel">Sửa danh mục</h5>
                        <button type="button" id="btnCloseModal2" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Tên danh mục</label>
                                <input type="hidden" id="tagID" name="id"/>
                                <input name="Tagname" id="new_tagName" class="form-control" />
                                <span id="error" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Edit" onclick="updateTag()" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Hiện modal delete Tag*@
    <div class="modal fade" id="DeleteTagModal" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @*<form action="#" method="">*@
                <div class="modal-header" style="color: #fff;background-color: #6A1408;">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="title" class="col-sm-12 col-form-label">Bạn có chắc chắn muốn xóa không?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnCloseModalDelete" data-dismiss="modal" onclick="closeModal()">Đóng</button>
                    <button type="button" class="btn btn-danger" onclick="deleteTag()">Xác nhận</button>
                </div>
                @*</form>*@
            </div>
        </div>
    </div>

</div>
<script>
    // Get the modal element
    //var modal = document.getelementbyid("createtagmodal");

    //// Get the button that opens the modal
    //var openModalButton = document.getElementById("openModalCreateButton");

    //// Open the modal when the button is clicked
    //openModalButton.onclick = function () {
    //    modal.style.display = "block";
    //}

    // Close the modal when the user clicks outside of it
    //window.onclick = function (event) {
    //    if (event.target == modal) {
    //        modal.style.display = "none";
    //    }
    //}
    //function Edit(id) {
    //    var name = document.getElementById("TagName_" + id).textContent.trim();
    //    alert(name);
    //    document.getElementById("new_tagName").value = name;
    //    document.getElementById("tagID").value = id;
    //}
    var idUpdate = 0;

    function createTag() {
        var name = document.getElementById("Tagname");
        var error = document.getElementById("error");
        if (name.value == "") {
            error.innerHTML = "Vui lòng nhập tên nhóm danh mục";
            name.focus();
            return;
        }

        var Tag = {
            "STagname": name.value,
            "IStatus":1
        }
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var res = JSON.parse(this.responseText);
                if (res.message != null) {
                    error.innerHTML = res.message;
                    return;
                }

                addRowToTable(res.pkITagId, res.sTagname);
                document.getElementById("btnCloseModal1").click();

            }
        };
        request.open("POST", "/Tags/CreateTag", true);
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(Tag));
    }






    function updateTag() {
        var name = document.getElementById("new_tagName");
        var error = document.getElementById("error");
        if (name.value == "") {
            error.innerHTML = "Vui lòng nhập tên nhóm danh mục";
            name.focus();
            return;
        }

        var tag = {
            "STagname": name.value,
            //"IStatus": 1
        }
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                var res = JSON.parse(this.responseText);
                if (res.message != null) {
                    error.innerHTML = res.message;
                    return;
                }
                document.getElementById("TagName_" + res.pkITagId).innerHTML = res.sTagname;
                document.getElementById("btnCloseModal2").click();
            }
        };
        request.open("POST", "/Tags/UpdateTag/" + idUpdate, true);
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(tag));
    }




    function deleteTag() {
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("btnCloseModalDelete").click();
                document.getElementById('tblTag').deleteRow(document.getElementById("row-" + idUpdate).rowIndex);
            }
        };
        request.open("POST", "/Tags/DeleteTag/" + idUpdate, true);
        request.send();
    }




    function getTagById(id) {
        //var namepass = document.getElementById("TagName_" + id).textContent.trim();
        //document.getElementById("new_tagName").value = namepass;
        var name = document.getElementById('new_tagName');
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var res = JSON.parse(this.responseText);
                //id = 31;
                //namepass.value = res.sTagname;
                idUpdate = res.pkITagId;
                name.value = res.sTagname;
                
            }
        };
        request.open("GET", "/Tags/" + id, true);
        request.send();
    }

    function addRowToTable(id, name) {
        var table = document.getElementById("tblTag");
        var row = table.insertRow();
        row.id = "row-" + id;

        row.innerHTML =
            '<td>' + (table.rows.length - 1) + '</td>' +
            '<td id = "TagName_'+id+'">' + name + '</td>'+
            '<td>' +
            '<a role="dialog" id = "openModalEditButton" data-toggle="modal" data-target="#EditTagModal" aria-haspopup="true" aria-expanded="false" onclick = "getTagById(' + id + ')" > <i class="fa fa-edit" > </i></a > | ' +
            '<a role="dialog" id = "openModalDeleteButton" data-toggle="modal" data-target="#DeleteTagModal" aria-haspopup="true" aria-expanded="false" onclick = "getTagById(' + id + ')" > <i class="fa fa-times" > </i></a >' +
            '</td>'

        //var cell1 = row.insertcell(0);
        //cell1.innerhtml = table.rows.length - 1;

        //var cell2 = row.insertCell(1);
        //cell2.id = "TagName_-" + id;
        //cell2.innerHTML = name;

        //var cell3 = row.insertcell(2);
        //cell3.classname = "text-center";
        //cell3.innerhtml = '<a role="dialog" id = "openModalEditButton" data - toggle="modal" data - target="#EditTagModal" aria - haspopup="true" aria - expanded="false" onclick = "getTagById(' + id + ')" > <i class="fa fa-edit" > </i></a > | ' +
        //    '<a role="dialog" id = "openModalDeleteButton" data - toggle="modal" data - target="#DeleteTagModal" aria - haspopup="true" aria - expanded="false" onclick = "getTagById(' + id + ')" > <i class="fa fa-times" > </i></a >' ;
    }

    function openModalCreate() {
        idUpdate = 0;
    }

    function closeModal() {
        document.getElementById("name").value = "";
        document.getElementById("error").innerHTML = "";
    }
</script>