@model PagedList.IPagedList<HoiDongYVN.Models.Post>

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="album py-5 bg-light" style="background-color: #ffffff!important;">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="past-link" href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Tagname</li>
                </ol>
            </nav>
            <div class="new-title"
                 style="display: flex !important; align-items: center !important;justify-content: space-between !important; margin-bottom:20px">
                <h4 style="text-align:left; display:inline">
                    @ViewData["tag"]
                </h4>
                @* <a class="btn btn-outline-success btn-sm btn-viewall " href="#">Xem tất cả</a> *@
            </div>
            <div class="row">
                <div class="w-100 category news col-12">
                    @{
                        foreach (var post in Model)
                        {
                            <div class="w-100 list-content mb-4" style="display: flex !important;">
                                <div class="w-100">
                                    <div class="card" style="width: 100%;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img class="card-img-top"
                                                     data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                                     alt="Thumbnail [100%x225]"
                                                     style="height: 225px; width: 100%; display: block;"
                                                     src="/image/image_post/@post.SImage" data-holder-rendered="true">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">@post.STitle</h5>
                                                    <p class="card-text">
                                                        @post.SDescription
                                                    </p>
                                                    <p class="card-text">
                                                        <small class="text-muted">
                                                            Last updated
                                                            @post.DUpDatedDate
                                                        </small>
                                                    </p>
                                                    <a  style="text-align:right" asp-action="Details" asp-controller="Post" asp-route-id="@post.PkIPostId">Xem tiếp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    }


                </div>
              @*  <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            Danh mục
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home"
                                   asp-action="Post" asp-route-FK_iTagID="2" asp-route-FK_iTagIDSub="3">
                                    Tất cả bài
                                    viết
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home"
                                   asp-action="Post" asp-route-FK_iTagID="3">Tin tức quốc tế</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home"
                                   asp-action="Post" asp-route-FK_iTagID="2">Tin tức trong nước</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home"
                                   asp-action="Post" asp-route-FK_iTagID="1">Kiến thức đông y</a>
                            </li>
                        </ul>
                    </div>
                </div>*@
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (!Model.IsFirstPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Home/Post?FK_iTagID=@ViewBag.Tagid">&laquo;</a>
                            </li>
                            <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                                <a class="page-link" href="/Home/Post?FK_iTagID=@ViewBag.Tagid&page=@(Model.PageNumber - 1)">&#8249;</a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")"><a class="page-link" href="/Home/Post?FK_iTagID=@ViewBag.Tagid&page=@i">@i</a></li>
                        }
                        @if (!Model.IsLastPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Home/Post?FK_iTagID=@ViewBag.Tagid&page=@(Model.PageNumber + 1)">&#8250;</a>
                            </li>
                            <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                                <a class="page-link" href="/Home/Post?FK_iTagID=@ViewBag.Tagid&page=@(Model.PageCount)">&raquo;</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
