@model List<HoiDongYVN.Models.Post>

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="album py-5 bg-light" style="background-color: #ffffff!important;">
        <div class="container">
            <div class="new-title"
                style="display: flex !important; align-items: center !important;justify-content: space-between !important; margin-bottom:20px">
                <h4 style="text-align:left; display:inline">
                    @ViewData["tag"]
                </h4>
                @* <a class="btn btn-outline-success btn-sm btn-viewall " href="#">Xem tất cả</a> *@
            </div>
            <div class="row">
                <div class="w-100 category news col-9">
                    @{
                        foreach (Post post in Model)
                        {
                            <div class="w-100 list-content mb-4" style="display: flex !important;">
                                <div class="w-100">
                                    <div class="card" style="width: 100%;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img class="card-img-top"
                                                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                                    alt="Thumbnail [100%x225]"
                                                    style="height: 225px; width: 100%; display: block;"
                                                    src="/image/image_post/lanhdao.jpg" data-holder-rendered="true">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">@post.STitle</h5>
                                                    <p class="card-text">
                                                        @post.SDescription
                                                    </p>
                                                    <p class="card-text">
                                                        <small class="text-muted">
                                                            Last updated
                                                            @post.DUpDatedDate
                                                        </small>
                                                    </p>
                                                    <a asp-area="" asp-controller="Home" asp-action="Detail"
                                                        asp-route-postId="@post.PkIPostId" style="
                                                        text-align:right">Xem tiếp...</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    }


                </div>
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            Danh mục
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home" asp-action="Post"
                                    asp-route-FK_iTagID="2" asp-route-FK_iTagIDSub="3">
                                    Tất cả bài
                                    viết
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home" asp-action="Post"
                                    asp-route-FK_iTagID="3">Tin tức quốc tế</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home" asp-action="Post"
                                    asp-route-FK_iTagID="2">Tin tức trong nước</a>
                            </li>
                            <li class="list-group-item">
                                <a class="btn link-secondary" asp-area="" asp-controller="Home" asp-action="Post"
                                    asp-route-FK_iTagID="1">Kiến thức đông y</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
